// sass变量定义模块
@font-face {
    font-family: square-font;
    src: url('~@/assets/styles/Square-721-BT.ttf');
}
$mainColor: #19D8FF;
$hoverColor: #5cd0d2;
$activeColor: #139ea0;

.view-box{
    background: linear-gradient(90deg, #102d58 0%, #144e6d 100%);
}
.square-font{
    font-family:square-font ;
}

::v-deep .u-search {
    width: 100%;
    display: block;
    margin-bottom: 20rpx !important;
    .u-search__content {
      background: rgba(0, 96, 169, 0.2) !important;
      border-radius: 16rpx !important;
      height: 60rpx;
      input {
        background: unset !important;
      }
    }
}

.flex {
  display: flex;
  align-items: center;
}
.center {
  justify-content: center;
}
.justifyStart {
  justify-content: flex-start;
}
.justifyEnd {
  justify-content: flex-end;
}
.alignStart {
  align-items: flex-start;
}
.between {
  justify-content: space-between;
}
.around{
  justify-content: space-around;
}
.column {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.space {
  height: 20px;
}
.round {
  border-radius: 100000px;
}

// .form-data {
//   background: #f00;
//  .uni-forms-item {
//     align-items: center;
//     background: #000;
//     .uni-forms-item__label {
//       color: #9fa6af;
//       font-size: 24rpx;
//     }
//     .u-checkbox-group {
//       flex-wrap: wrap;
//     }

//     .u-checkbox {
//       margin: 5rpx;
//     }
//   }
// }
::-webkit-scrollbar
    {
        width: 16upx!important;
        height: 16upx!important;
        display: block !important;
        
    }
      
    /*定义滚动条轨道 内阴影+圆角*/
    ::-webkit-scrollbar-track
    {
        // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        
    }
      
    /*定义滑块 内阴影+圆角*/
    ::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        
    }